<h3><%= @movie.title %></h3>
<p>Creation Year: <%= @movie.creation_year %></p>
<p>Genre: <%= @movie.genre %></p>

<h3>Actors In "<%= @movie.title %>"</h3>
<% @movie_actors.each do |actor| %>
  <p> - <%= actor.name %></p>
<% end %>
<p>Average Age: <%= @average_age %></p>
